<% layout ('./layouts/boilerplate') %>

    <h1>All Campground</h1>
    <a href="/campgrounds/new">Add new Campground</a>
    <ul>
        <% for (c of campgrounds) {%>
            <li> <a href="/campgrounds/<%= c._id %>"> <%= c.title %> </a> </li>
            <% } %>
    </ul>